<div class="column is-half">
	<article class="media box">
		<figure class="media-left">
			<p class="image is-64x64">
        <img src="http//bulma.io/images/placeholders/64x64.png">
			 </p>
		</figure>
		<div class="media-content">
			 <%= render 'peeps/form' %>
       
		</div>
	</article>
  <% end %>


<% @peeps.each do | peep | %>
  <div class="box">
  	<article class="media">
  		<div class="media-left">
  			<figure class="image is-64x64">
          <img src="http//bulma.io/images/placeholders/64x64.png">
        </figure>
      </div>

  		<div class="media-content">
  			<div class="content">
          <strong>Yvonne Tang</strong><br />
  				<small><%= @gmail.com %></small><br/>
  				<p><%= peep.peep %></p>
        </div>
  			</div>
      </article>
    </div>
    <% end %>
